.gradle
.nvm
.DS_Store
.idea/dataSources.local.xml
.idea/dataSources
.idea/jarRepositories.xml
.idea/shelf
.idea/workspace.xml
build
dist
out
node_modules
npm-debug.log
protractor-screenshots
generated/
*.ipr
*.iws
*.iml
local-environment.json
git-info.json
*.log
.logs
out-tsc
.node-persist
/load-tests/venv/
/load-tests/**/output/
/**/__pycache__/
/jacoco/
*openapi.json
*prerender-routes.txt